/********************************************************
Search form
********************************************************/
.view-cricket-search .views-exposed-form .views-exposed-widget {
  float: none;
}

.form-type-date-popup label.control-label {
  display: none;
}

/* Sort by and sort order in a single row */
.view-cricket-search .views-exposed-form .views-exposed-widget.views-widget-sort-by,
.view-cricket-search .views-exposed-form .views-exposed-widget.views-widget-sort-order {
  width: 50%;
  float: left;
}

.views-exposed-form .advanced-search {
  display: none;
}

.views-exposed-form .advanced-search.open {
  display: block;
}

/********************************************************
Note template
********************************************************/
.view-cricket-timelines .node-cr-note,
.view-cricket-search .node-cr-note {
  margin: 2em 0;
  padding: 5px 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  border-radius: 2px;
}

.view-cricket-timelines .node-cr-note.own-note,
.view-cricket-search .node-cr-note.own-note {
  border: 1px solid #158CBA;
  border-left: 4px solid #158CBA;
}

.view-cricket-timelines .node-cr-note .note-left .field,
.view-cricket-search .node-cr-note .note-left .field {
  margin-bottom: 1em;
}

.node-cr-note .note-author {
  font-weight: bold;
  margin-bottom: 1em;
}
