/* Offline workflow
 * ---------------------------------------------------------*/

.is-online .offline-only {
  display: none;
}

.is-offline .online-only {
  display: none;
}

.form-container > form {
  padding: 10px;
  border-radius: 4px;
  border: 5px solid #fff;
}

.is-offline .form-container > form {
  border-color: #FAE4CF;
}

/* UI fixes
 * ---------------------------------------------------------*/
#ui-datepicker-div {
  z-index: 2 !important;
}

/* Header
 * ---------------------------------------------------------*/
.cricket-header.is-offline .online-only {
  display: block;
  opacity: .3;
  pointer-events: none;
}

.cricket-login {
  margin-bottom: 1em;
}

.cricket-login h3,
.cricket-user-info h3 {
  font-size: 1.25em;
  text-align: right;
}

.cricket-login h3 .toggle-form {
  margin-left: 10px;
  cursor: pointer;
}

.cricket-login #cricket-login-form {
  overflow: hidden;
  max-height: 0px;
  transition: max-height .5s;
}

.cricket-login.open #cricket-login-form {
  max-height: 500px;
}

.cricket-user-info #cricket-logout {
  margin-left: 10px;
}

.cricket-user-info #cricket-logout .badge {
  background-color: rgb(200, 50, 50);
}

/* Sidebar elements
 * ---------------------------------------------------------*/
#drafts-list {
  margin-bottom: 2em;
}

.drafts-list ul li {
  padding: .5em 0;
  border-bottom: 1px solid #eee;
}

.drafts-list .draft-title {
  position: relative;
  cursor: pointer;
  margin-bottom: 1em;
  max-height: 4em;
  overflow: hidden;
}

.drafts-list .draft-title::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1em;
  background-color: red;
  bottom: 0px;
  right: 0px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.drafts-list .draft-actions {
  display: none;
}

.drafts-list .show-actions .draft-actions {
  display: block;
}

.drafts-list .draft-actions > div {
  margin-bottom: 1em;
}

/* Saved searches
 * ---------------------------------------------------------*/

.saved-searches ul,
.saved-searches ul li {
  display: block;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.saved-searches ul li.saved-search-item {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
}

.saved-searches .saved-list {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.saved-searches .saved-list .saved-search-name {
  font-size: 1.25em;
}
