<!-- Tufts VUE 3.3.0 concept-map (Component relationships.vue) 2017-02-14 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/Applications/VUE.localized/VUE.app/Contents/Resources/Java/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Tue Feb 14 18:14:01 CST 2017 by nelovishk on platform Mac OS X 10.12.1 in JVM 1.8.0_45-b14 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="Component relationships.vue" created="1487011776746" x="0.0"
    y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1487117642094" size="30432"
        spec="/Users/nelovishk/Sites/cricket/drupal-7.53/sites/all/modules/custom/cricket/modules/cricket_interface/docs/Component relationships.vue"
        type="1" xsi:type="URLResource">
        <title>Component relationships.vue</title>
        <property key="File" value="/Users/nelovishk/Sites/cricket/drupal-7.53/sites/all/modules/custom/cricket/modules/cricket_interface/docs/Component relationships.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/3a90695cc0a8000d4bc92921d0d8da65</URIString>
    <child ID="6" label="Cricket App (object)" layerID="1"
        created="1487011789663" x="544.0" y="380.0" width="160.0"
        height="86.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#33A8F5</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90695dc0a8000d4bc92921a2b43551</URIString>
        <child ID="7"
            label="Es el coordinador: inicia a todos los dem&#xe1;s componentes, coordina &#xa;      acciones entre ellos."
            created="1487012297543" x="5.0" y="22.0" width="150.0"
            height="58.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a906962c0a8000d4bc92921785fdb67</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      Es el coordinador: inicia a todos los dem&amp;#225;s componentes, coordina 
      acciones entre ellos.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Es el coordinador: inicia a todos los dem&#xe1;s componentes, coordina 
      acciones entre ellos.</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="HeaderView" layerID="1" created="1487012329059"
        x="51.5" y="-96.0" width="160.0" height="226.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#76AF31</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906964c0a8000d4bc92921f71c23c5</URIString>
        <child ID="21"
            label="Events in the Header View:&#xa;    &#xa;    &#xa;      &#x2014;new note&#xa;    &#xa;    &#xa;      &#x2014;timeline: latest&#xa;    &#xa;    &#xa;      &#x2014;timeline: mine&#xa;    &#xa;    &#xa;      &#x2014;timeline: pinned&#xa;    &#xa;    &#xa;      &#x2014;management users&#xa;    &#xa;    &#xa;      &#x2014;management groups&#xa;    &#xa;    &#xa;      &#xa;    &#xa;    &#xa;      Not handled through events:&#xa;    &#xa;    &#xa;      &#x2014;login&#xa;    &#xa;    &#xa;      &#x2014;log out&#xa;    &#xa;    &#xa;      > those are linked directly to the AuthModel."
            created="1487013659842" x="5.0" y="22.0" width="150.0"
            height="198.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a906965c0a8000d4bc9292138e1c9d7</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      Events in the Header View:
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;new note
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;timeline: latest
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;timeline: mine
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;timeline: pinned
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;management users
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;management groups
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      Not handled through events:
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;login
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;#8212;log out
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &amp;gt; those are linked directly to the AuthModel.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Events in the Header View:
    
    
      &#x2014;new note
    
    
      &#x2014;timeline: latest
    
    
      &#x2014;timeline: mine
    
    
      &#x2014;timeline: pinned
    
    
      &#x2014;management users
    
    
      &#x2014;management groups
    
    
      
    
    
      Not handled through events:
    
    
      &#x2014;login
    
    
      &#x2014;log out
    
    
      &gt; those are linked directly to the AuthModel.</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" label="Router" layerID="1" created="1487012554260"
        x="543.5" y="84.5" width="160.0" height="86.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906967c0a8000d4bc92921d8da6bc9</URIString>
        <child ID="12"
            label="Receives actions from the App, calling the required methods in views and &#xa;      models"
            created="1487012569004" x="5.0" y="22.0" width="150.0"
            height="58.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a906968c0a8000d4bc9292164b56299</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      Receives actions from the App, calling the required methods in views and 
      models
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Receives actions from the App, calling the required methods in views and 
      models</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="Sends events" layerID="1"
        created="1487012528709" x="211.0" y="44.098255"
        width="378.85016" height="336.40176" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906969c0a8000d4bc92921126d1055</URIString>
        <point1 x="211.5" y="44.598255"/>
        <point2 x="589.35016" y="380.00003"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="360.5" y="96.0" xsi:type="point"/>
    </child>
    <child ID="15" label="AuthView" layerID="1" created="1487012733284"
        x="125.5" y="252.5" width="63.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#76AF31</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696bc0a8000d4bc9292180895e11</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="16" label="hasChildView" layerID="1"
        created="1487012742708" x="116.52586" y="129.49988" width="66.0"
        height="123.500244" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696bc0a8000d4bc929211c58f0c6</URIString>
        <point1 x="143.18965" y="129.99988"/>
        <point2 x="155.86208" y="252.50012"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="17" label="AuthModel" layerID="1" created="1487012756414"
        x="694.5" y="596.5" width="70.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#A6A6A6</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696cc0a8000d4bc92921075aaea3</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="18" label="initiates" layerID="1" created="1487012784941"
        x="196.41289" y="129.5" width="348.0871" height="282.20605"
        strokeWidth="1.0" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696dc0a8000d4bc92921f8f3f60f</URIString>
        <point1 x="544.0" y="411.20605"/>
        <point2 x="196.91289" y="130.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">8</ID2>
        <ctrlPoint0 x="342.5" y="381.5" xsi:type="point"/>
    </child>
    <child ID="19" label="initiates" layerID="1" created="1487012800208"
        x="654.0894" y="465.5" width="72.6911" height="131.5"
        strokeWidth="1.0" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696ec0a8000d4bc92921f0ca5f7b</URIString>
        <point1 x="654.5894" y="466.0"/>
        <point2 x="726.2805" y="596.5"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="711.5" y="546.0" xsi:type="point"/>
    </child>
    <child ID="20" label="initiates" layerID="1" created="1487012842498"
        x="605.7378" y="163.96875" width="36.0" height="216.53125"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90696fc0a8000d4bc9292113d7a78d</URIString>
        <point1 x="623.92523" y="380.0"/>
        <point2 x="623.5504" y="164.46875"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="text">12</ID2>
    </child>
    <child ID="22" label="AppView" layerID="1" created="1487040379490"
        x="936.5" y="192.0" width="60.0" height="22.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#76AF31</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906970c0a8000d4bc92921b3cc71ef</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="23" label="calls navigate()" layerID="1"
        created="1487040429370" x="511.0382" y="170.0" width="89.748535"
        height="210.5" strokeWidth="1.0" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#EA2218</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906977c0a8000d4bc929218e413979</URIString>
        <point1 x="600.28674" y="380.0"/>
        <point2 x="570.8661" y="170.5"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">11</ID2>
        <ctrlPoint0 x="511.5" y="219.0" xsi:type="point"/>
    </child>
    <child ID="24" label="initiates" layerID="1" created="1487040522740"
        x="690.4431" y="213.5" width="259.43182" height="167.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906978c0a8000d4bc929214138f6cd</URIString>
        <point1 x="690.9432" y="380.0"/>
        <point2 x="949.375" y="214.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
    <child ID="25" label="Header HTML" layerID="1"
        created="1487040578865" x="-253.5" y="-215.0" width="160.0"
        height="198.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906979c0a8000d4bc92921450da482</URIString>
        <child ID="26"
            label="It is rendered by Drupal and served in a region. It is then &quot;activated&quot; &#xa;      by Backbone when the user is visiting the full app.If the &#xa;      user is visiting any other page, the links just work as links pointing &#xa;      to the app and providing a state for Backbone."
            created="1487040596924" x="5.0" y="22.0" width="150.0"
            height="170.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a90697ac0a8000d4bc92921c01cc884</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      It is rendered by Drupal and served in a region. It is then &amp;quot;activated&amp;quot; 
      by Backbone when the user is visiting the full app.&lt;br&gt;&lt;br&gt;&lt;br&gt;If the 
      user is visiting any other page, the links just work as links pointing 
      to the app and providing a state for Backbone.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>It is rendered by Drupal and served in a region. It is then "activated" 
      by Backbone when the user is visiting the full app.If the 
      user is visiting any other page, the links just work as links pointing 
      to the app and providing a state for Backbone.</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="27" label="provides HTML" layerID="1"
        created="1487040686887" x="-94.0" y="-81.61475" width="146.0"
        height="64.22951" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697bc0a8000d4bc92921f1c56769</URIString>
        <point1 x="-93.5" y="-81.11475"/>
        <point2 x="51.5" y="-17.885242"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="29" label="user-info&#xa;TEMPLATE" layerID="1"
        created="1487040715779" x="-12.5" y="264.0" width="74.0"
        height="36.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697cc0a8000d4bc929212f28fcea</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="30" layerID="1" created="1487040770203" x="61.000004"
        y="267.30496" width="65.66723" height="10.028992"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697dc0a8000d4bc92921e32dcad3</URIString>
        <point1 x="61.5" y="276.83395"/>
        <point2 x="126.16723" y="267.80496"/>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="31" label="user-login&#xa;TEMPLATE" layerID="1"
        created="1487040774205" x="26.5" y="335.0" width="74.0"
        height="36.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697ec0a8000d4bc92921ae3195c1</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="32" layerID="1" created="1487040789419" x="81.80446"
        y="274.0" width="64.20391" height="61.5" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697ec0a8000d4bc9292190fe5e80</URIString>
        <point1 x="82.30447" y="335.0"/>
        <point2 x="145.50838" y="274.5"/>
        <ID1 xsi:type="node">31</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="33" label="sends events&#xa;provides data" layerID="1"
        created="1487040849406" x="167.45573" y="274.0" width="531.8707"
        height="324.9867" strokeWidth="1.0" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#4C4C4C</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a90697fc0a8000d4bc92921f21f63ae</URIString>
        <point1 x="698.8264" y="598.4867"/>
        <point2 x="167.95573" y="274.5"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="404.5" y="512.0" xsi:type="point"/>
    </child>
    <child ID="34" label="calls login and logout" layerID="1"
        created="1487040971377" x="160.67969" y="273.99997"
        width="534.4509" height="336.54916" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#4C4C4C</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a906980c0a8000d4bc9292162312222</URIString>
        <point1 x="161.17969" y="274.49997"/>
        <point2 x="694.6306" y="609.14703"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="295.5" y="628.0" xsi:type="point"/>
    </child>
    <child ID="35" label="NoteFormView" layerID="1"
        created="1487041395205" x="908.0" y="66.0" width="92.0"
        height="22.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#76AF31</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a9457dfc0a8000d4bc92921a0be2f03</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="36" layerID="1" created="1487041395208" x="954.59125"
        y="87.5" width="11.317505" height="105.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#4C4C4C</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a9457dfc0a8000d4bc92921c8bf37b9</URIString>
        <point1 x="965.40875" y="192.0"/>
        <point2 x="955.09125" y="88.0"/>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="37" label="Note node form" layerID="1"
        created="1487041409540" x="667.5" y="-159.0" width="160.0"
        height="170.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3a9457dfc0a8000d4bc92921ce09b5ff</URIString>
        <child ID="38"
            label="The note form is a standard Drupal node form rendered by Drupal into a &#xa;      special container. Backbone then does as it does with the header, adding &#xa;      JS actions to the form and integrating it into the app and adding the &#xa;      drafts functionality."
            created="1487041429012" x="5.0" y="22.0" width="150.0"
            height="142.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a9457e0c0a8000d4bc92921576abb7b</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      The note form is a standard Drupal node form rendered by Drupal into a 
      special container. Backbone then does as it does with the header, adding 
      JS actions to the form and integrating it into the app and adding the 
      drafts functionality.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>The note form is a standard Drupal node form rendered by Drupal into a 
      special container. Backbone then does as it does with the header, adding 
      JS actions to the form and integrating it into the app and adding the 
      drafts functionality.</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="39" label="provides HTML" layerID="1"
        created="1487117448557" x="827.0" y="-16.00116"
        width="112.45697" height="82.50116" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#4C4C4C</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3f1e697bc0a8000d4bc92921574bd67c</URIString>
        <point1 x="827.5" y="-15.50116"/>
        <point2 x="938.957" y="66.0"/>
        <ID1 xsi:type="node">37</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="40" label="Offline Service" layerID="1"
        created="1487117463096" x="982.5" y="467.0" width="160.0"
        height="212.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#A6A6A6</fillColor>
        <strokeColor>#7F7F7F</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3f1e697bc0a8000d4bc9292153a53c54</URIString>
        <child ID="41"
            label="The offline detection service notifies the Cricket app (by calling a &#xa;      callback function) of the changes of connection status as measured by &#xa;      ping to server.&#xa;    &#xa;    &#xa;      &#xa;    &#xa;    &#xa;      The Cricket app then reacts by calling the goOnline or goOffline methods &#xa;      in the header and app views."
            created="1487117470058" x="5.0" y="22.0" width="150.0"
            height="184.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3f1e697cc0a8000d4bc92921e2314d61</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Arial; color: #000000 }
        ol { margin-top: 6; font-family: Arial; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      The offline detection service notifies the Cricket app (by calling a 
      callback function) of the changes of connection status as measured by 
      ping to server.
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      The Cricket app then reacts by calling the goOnline or goOffline methods 
      in the header and app views.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>The offline detection service notifies the Cricket app (by calling a 
      callback function) of the changes of connection status as measured by 
      ping to server.
    
    
      
    
    
      The Cricket app then reacts by calling the goOnline or goOffline methods 
      in the header and app views.</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="42" label="initiates" layerID="1" created="1487117543419"
        x="701.20825" y="461.62585" width="281.79175" height="96.874146"
        strokeWidth="1.0" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#76AF31</strokeColor>
        <textColor>#76AF31</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3f1e697cc0a8000d4bc929211d2b95ea</URIString>
        <point1 x="701.70825" y="462.12585"/>
        <point2 x="982.5" y="558.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">40</ID2>
        <ctrlPoint0 x="838.5" y="531.0" xsi:type="point"/>
    </child>
    <child ID="43"
        label="call callback&#xa;on connection&#xa;status change"
        layerID="1" created="1487117554418" x="698.5" y="425.48495"
        width="284.5" height="85.00986" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#4C4C4C</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/3f1e697cc0a8000d4bc9292120553728</URIString>
        <point1 x="982.5" y="509.9948"/>
        <point2 x="699.0" y="427.945"/>
        <ID1 xsi:type="node">40</ID1>
        <ID2 xsi:type="text">7</ID2>
        <ctrlPoint0 x="869.5" y="421.0" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1487011776762" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/3a906981c0a8000d4bc92921e4ad7598</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-3340.5" y="-269.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1487011776744"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/3a906983c0a8000d4bc92921de7c6771</URIString>
            <masterSlide ID="2" created="1487011776804" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/3a906983c0a8000d4bc929212fcd6477</URIString>
                <titleStyle ID="3" label="Header"
                    created="1487011776933" x="341.0" y="175.0"
                    width="118.0" height="50.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/3a906984c0a8000d4bc929214a3f468e</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1487011776936" x="349.5" y="282.5"
                    width="101.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/3a906985c0a8000d4bc9292159c3e479</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1487011776937"
                    x="375.5" y="385.0" width="49.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/3a906985c0a8000d4bc929216770eb9b</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-02-13</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/Users/nelovishk/Sites/cricket/drupal-7.53/sites/all/modules/custom/cricket/modules/cricket_interface/docs</saveLocation>
    <saveFile>/Users/nelovishk/Sites/cricket/drupal-7.53/sites/all/modules/custom/cricket/modules/cricket_interface/docs/Component relationships.vue</saveFile>
</LW-MAP>
