<div class='panel panel-info drafts-list'>
  <div class="panel-heading">
    <h3 class="panel-title">Saved Drafts</h3>
  </div>
  <div class="panel-body">
  <% 
  if(isEmpty) { %>
    <p>There are no drafts yet.</p>
  <% 
  }
  else { %>
    <ul>
  <%
    for(var hash in drafts) {
      var draft = drafts[hash]; %>
      <li data-note_hash="{{hash}}">
        <div class="draft-title"><span class="glyphicon glyphicon-download"></span> {{draft.title}} {{draft.body}}</div>
        <div class="draft-actions">
          <div class="delete">
            <button class="btn btn-danger btn-xs delete" data-note_hash="{{hash}}">Delete</button>
          </div>
          <div class="restore"><button class="btn btn-success btn-xs restore" data-note_hash="{{hash}}">Restore</button> <span class="text-warning">(<span class="glyphicon glyphicon-exclamation-sign"></span> form contents will be replaced)</span></div>
        </div>
      </li>
    <%  
    }
  %>
    </ul>
  <%
  } %>

  </div>
</div>
