<div class='panel panel-warning offline-notice offline-only'>
  <div class="panel-heading">
    <h3 class="panel-title">Working offline</h3>
  </div>
  <div class="panel-body">
    <p>Some of the elements depend on data from the server and are disabled while you are offline.</p>
    <p>You can save a local draft and use it later to finish the note and save it.</p>
  </div>
</div>
