<div class="cricket-login online-only">
  <div class="cricket-login-inner">
    <h3>Log in <span class="toggle-form badge pull-right"><span class="glyphicon glyphicon-plus"></span></span></h3>
    <div id="cricket-login-form">
      
      <div id="cricket-login-error" class="hidden well well-sm text-danger"></div>

      <div class="form-group">
        <label for="cricket-login-username" class="sr-only">User: </label>
        <input class="form-control" id="cricket-login-username" type="text" placeholder="username">
      </div>

      <div class="form-group">
        <label for="cricket-login-password" class="sr-only">User: </label>
        <input class="form-control" id="cricket-login-password" type="password" placeholder="password">
      </div>

      <input class="btn btn-default btn-sm" id="cricket-login-submit" type="submit" value="Send">
    </div>
  </div>
</div>
