<div class="cricket-user-info online-only">
  <h3>Hello, {{ name }}! <a class="pull-right" id="cricket-logout" href="#"><span class="badge"><span class="glyphicon glyphicon-off"></span></span></a></h3>
</div>
